:root {
  --color-background-header: #141414;
  --color-background: #212121;
  --color-text: #fff;
}

body {
  font-family: "Roboto", serif;
  line-height: 1.2;
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}