:root {
  --color-background-header: #141414;
  --color-background: #212121;
  --color-text: #fff;
  --color-accent: #7b71c6;
}

body {
  font-family: "Roboto", serif;
  line-height: 1.2;
  color: var(--color-text);
  background-color: var(--color-background);
  font-size: 18px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
}